# CS 3500 - Starter Notebook

In [1]:
# Check current version of Jupyter
!jupyter --version

Selected Jupyter core packages...
IPython          : 8.30.0
ipykernel        : 6.29.5
ipywidgets       : 8.1.5
jupyter_client   : 8.6.3
jupyter_core     : 5.7.2
jupyter_server   : 2.15.0
jupyterlab       : 4.3.4
nbclient         : 0.10.2
nbconvert        : 7.16.6
nbformat         : 5.10.4
notebook         : 7.3.2
qtconsole        : 5.6.1
traitlets        : 5.14.3

In [3]:
# Here several helpful packages to load
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

In [4]:
#importing libraries
import numpy as np
import regex
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

### Read Data Set and Look at  Metadata

In [5]:
#reading the CSV file into dataframe df
# Data should be located in the same folder as the notebook for this to work
df = pd.read_csv('../Data/LA_Crime_Data_2023_to_Present_data.csv')

In [6]:
# print shape of dataframe
print(df.shape)

(390088, 21)

In [7]:
# print basic info about the data frame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390088 entries, 0 to 390087
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      390088 non-null  int64
 1   DR_NO           390088 non-null  int64
 2   Date Rptd       390088 non-null  object
 3   DATE OCC        390088 non-null  object
 4   TIME OCC        390088 non-null  int64
 5   AREA            390088 non-null  int64
 6   AREA NAME       390088 non-null  object
 7   Rpt Dist No     390088 non-null  int64
 8   Part 1-2        390088 non-null  int64
 9   Crm Cd          390088 non-null  int64
 10  Crm Cd Desc     390088 non-null  object
 11  Mocodes         319764 non-null  object
 12  Vict Age        390088 non-null  int64
 13  Vict Sex        322491 non-null  object
 14  Vict Descent    322483 non-null  object
 15  Premis Cd       390077 non-null  float64
 16  Premis Desc     389790 non-null  object
 17  Weapon Used Cd  108059 non-null  float64
 18  Weapon Desc     108059 non-null  object
 19  Status          390086 non-null  object
 20  Status Desc     390088 non-null  object
dtypes: float64(2), int64(8), object(11)
memory usage: 62.5+ MB

In [8]:
# print first 5 records of the dataframe
df.head()

,Unnamed: 0,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,...,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc
0,644971,230611294,06/17/2023 12:00:00 AM,2023-06-17,1140,6,Hollywood,668,1,442,...,1822 0325 2004,0,X,X,203.0,OTHER BUSINESS,NaN,NaN,IC,Invest Cont
1,644972,230106843,02/12/2023 12:00:00 AM,2023-02-11,1630,1,Central,191,1,440,...,0913 0344 0603,48,M,H,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont
2,644973,231515059,09/19/2023 12:00:00 AM,2023-09-19,1030,15,N Hollywood,1549,1,230,...,1309 0421 0913 0334,36,F,W,101.0,STREET,102.0,HAND GUN,IC,Invest Cont
3,644974,230110347,04/11/2023 12:00:00 AM,2023-04-10,816,1,Central,192,1,331,...,0344 1822,25,F,H,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont
4,644975,230618504,12/01/2023 12:00:00 AM,2023-12-01,110,6,Hollywood,639,2,626,...,1202 1814 0913 0319 2001 1813 2000 0400 0448,65,F,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other

In [9]:
# Set column 'DR_NO' Index
df = df.set_index('DR_NO')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 390088 entries, 230611294 to 241515289
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      390088 non-null  int64
 1   Date Rptd       390088 non-null  object
 2   DATE OCC        390088 non-null  object
 3   TIME OCC        390088 non-null  int64
 4   AREA            390088 non-null  int64
 5   AREA NAME       390088 non-null  object
 6   Rpt Dist No     390088 non-null  int64
 7   Part 1-2        390088 non-null  int64
 8   Crm Cd          390088 non-null  int64
 9   Crm Cd Desc     390088 non-null  object
 10  Mocodes         319764 non-null  object
 11  Vict Age        390088 non-null  int64
 12  Vict Sex        322491 non-null  object
 13  Vict Descent    322483 non-null  object
 14  Premis Cd       390077 non-null  float64
 15  Premis Desc     389790 non-null  object
 16  Weapon Used Cd  108059 non-null  float64
 17  Weapon Desc     108059 non-null  object
 18  Status          390086 non-null  object
 19  Status Desc     390088 non-null  object
dtypes: float64(2), int64(7), object(11)
memory usage: 62.5+ MB

In [10]:
# Drop uneccesary columns
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

# Checking dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 390088 entries, 230611294 to 241515289
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date Rptd       390088 non-null  object
 1   DATE OCC        390088 non-null  object
 2   TIME OCC        390088 non-null  int64
 3   AREA            390088 non-null  int64
 4   AREA NAME       390088 non-null  object
 5   Rpt Dist No     390088 non-null  int64
 6   Part 1-2        390088 non-null  int64
 7   Crm Cd          390088 non-null  int64
 8   Crm Cd Desc     390088 non-null  object
 9   Mocodes         319764 non-null  object
 10  Vict Age        390088 non-null  int64
 11  Vict Sex        322491 non-null  object
 12  Vict Descent    322483 non-null  object
 13  Premis Cd       390077 non-null  float64
 14  Premis Desc     389790 non-null  object
 15  Weapon Used Cd  108059 non-null  float64
 16  Weapon Desc     108059 non-null  object
 17  Status          390086 non-null  object
 18  Status Desc     390088 non-null  object
dtypes: float64(2), int64(6), object(11)
memory usage: 59.5+ MB

In [11]:
# Map Target Column

# Mapping dictionary
mapping = {
            'IC': 'No Arrest'
            ,'AA': 'Arrest'
            ,'AO': 'No Arrest'
            ,'JO': 'No Arrest'
            ,'JA': 'Arrest'
            ,'CC': 'No Arrest'
}

df['Target'] = df['Status'].map(mapping)

# Checking dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 390088 entries, 230611294 to 241515289
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date Rptd       390088 non-null  object
 1   DATE OCC        390088 non-null  object
 2   TIME OCC        390088 non-null  int64
 3   AREA            390088 non-null  int64
 4   AREA NAME       390088 non-null  object
 5   Rpt Dist No     390088 non-null  int64
 6   Part 1-2        390088 non-null  int64
 7   Crm Cd          390088 non-null  int64
 8   Crm Cd Desc     390088 non-null  object
 9   Mocodes         319764 non-null  object
 10  Vict Age        390088 non-null  int64
 11  Vict Sex        322491 non-null  object
 12  Vict Descent    322483 non-null  object
 13  Premis Cd       390077 non-null  float64
 14  Premis Desc     389790 non-null  object
 15  Weapon Used Cd  108059 non-null  float64
 16  Weapon Desc     108059 non-null  object
 17  Status          390086 non-null  object
 18  Status Desc     390088 non-null  object
 19  Target          390086 non-null  object
dtypes: float64(2), int64(6), object(12)
memory usage: 62.5+ MB

In [12]:
# Convert the columns to a suitable data type
df['Date Rptd'] = df['Date Rptd'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y %I:%M:%S %p'))
df['DATE OCC'] = df['DATE OCC'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
df['AREA NAME'] = df['AREA NAME'].astype('string')
df['Crm Cd Desc'] = df['Crm Cd Desc'].astype('string')
df['Mocodes'] = df['Mocodes'].astype('string')
df['Vict Sex'] = df['Vict Sex'].astype('string')
df['Vict Descent'] = df['Vict Descent'].astype('string')
df['Premis Desc'] = df['Premis Desc'].astype('string')
df['Weapon Desc'] = df['Weapon Desc'].astype('string')
df['Status'] = df['Status'].astype('string')
df['Status Desc'] = df['Status Desc'].astype('string')
df['Target'] = df['Target'].astype('string')
# Checking dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 390088 entries, 230611294 to 241515289
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date Rptd       390088 non-null  datetime64[ns]
 1   DATE OCC        390088 non-null  datetime64[ns]
 2   TIME OCC        390088 non-null  int64
 3   AREA            390088 non-null  int64
 4   AREA NAME       390088 non-null  string
 5   Rpt Dist No     390088 non-null  int64
 6   Part 1-2        390088 non-null  int64
 7   Crm Cd          390088 non-null  int64
 8   Crm Cd Desc     390088 non-null  string
 9   Mocodes         319764 non-null  string
 10  Vict Age        390088 non-null  int64
 11  Vict Sex        322491 non-null  string
 12  Vict Descent    322483 non-null  string
 13  Premis Cd       390077 non-null  float64
 14  Premis Desc     389790 non-null  string
 15  Weapon Used Cd  108059 non-null  float64
 16  Weapon Desc     108059 non-null  string
 17  Status          390086 non-null  string
 18  Status Desc     390088 non-null  string
 19  Target          390086 non-null  string
dtypes: datetime64[ns](2), float64(2), int64(6), string(10)
memory usage: 62.5 MB

In [13]:
# Count values in 'col1'
value_counts = df['Target'].value_counts()
print(value_counts)

Target
No Arrest    360535
Arrest        29551
Name: count, dtype: Int64

In [14]:
# List columns
df.columns

Index(['Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME', 'Rpt Dist No',
       'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes', 'Vict Age', 'Vict Sex',
       'Vict Descent', 'Premis Cd', 'Premis Desc', 'Weapon Used Cd',
       'Weapon Desc', 'Status', 'Status Desc', 'Target'],
      dtype='object')

### Cleaning Data: Extension ⚙️

In [ ]:
# Remove Outliers